@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";

}

.container {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.925);
    color: #ffffff;
    flex-direction: column;
    width: 100vw;
    border-radius: 10px;
    height: 100%;




}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 20px;
    width: 70%;
}

h1 {
    font-size: 3.5rem;
    background: linear-gradient(to right, rgb(211, 234, 240) 0%, skyblue 50%, blue);
    background-clip: text;
    color: transparent;
}

.in {
    width: 50%;
    height: 30px;
    padding: 5px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    color: black;
    border: 2px solid transparent;


}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.add {
    height: 40px;
    width: 70px;
    font-weight: 600;
    color: white;
    background-color: blue;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.Tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    overflow-y: scroll;
    max-height: 180px;
    margin: 20px;


}

li {
    display: flex;
    border: 2px solid white;
    min-width: 90%;
    justify-content: space-between;
    align-self: center;
    margin: 4px;
    padding: 5px;
    border-radius: 4px;

}

.checkbox {
    width: 85%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 8px;
}

.buttons {
    display: flex;
    gap: 20px;
    margin: 8px;
    align-items: center;

}

.Delete {
    color: red;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.edit {
    color: palevioletred;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.completeness {
    display: flex;
    width: 60%;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
    border-top: 2px solid blue;
    padding: 4px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* track */
::-webkit-scrollbar-track {
    background: #0f172a;
    /* dark background */
}

/* thumb */
::-webkit-scrollbar-thumb {
    background: #334155;
    /* scrollbar color */
    border-radius: 10px;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
    background: #475569;
}
p{
    text-decoration-color:skyblue ;
    text-decoration-thickness: 2px;
    text-decoration-style:wavy;
}
@media (max-width:1300px){
    .container{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        
    }
    .content{
        margin-top: 100px;
    }
}